<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCsk1OHrRzajoKffCjdZ6fTGf-amjYhR3w</string>
	<key>GCM_SENDER_ID</key>
	<string>483553326725</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DilaraBaki.billMate</string>
	<key>PROJECT_ID</key>
	<string>billmate-9f75e</string>
	<key>STORAGE_BUCKET</key>
	<string>billmate-9f75e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483553326725:ios:ab5c8defe4ce10bea7dbec</string>
</dict>
</plist>